- form_for @changeset, @action, fn f ->
  - if @changeset.action do
    .alert.alert-danger
      %p
        Oops, something went wrong! Please check the errors below.

  .form-group
    = label f, :title, class: "control-label"
    = text_input f, :title, class: "form-control", autofocus: true, required: true, maxlength: 40
    = error_tag f, :title

  .form-group
    = label f, :summary, class: "control-label"
    = textarea f, :summary, class: "form-control", required: true, maxlength: 400
    = error_tag f, :summary

  .form-group
    = label f, :author, class: "control-label"
    = text_input f, :author, class: "form-control", required: true, maxlength: 80
    = error_tag f, :author

  .form-group
    = label f, :published, class: "control-label"
    = checkbox f, :published, class: "form-control"
    = error_tag f, :published

  .form-group
    = submit "Submit", class: "btn btn-primary"
